@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 801px) {
  .custom-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start */
  font-size: smaller;
  padding-top: 1px;
  padding-bottom: 1px;
  }

  .custom-nav #navbar-default {
    display: block; /* Ensure the navbar is visible */
    width: 100%; /* Ensure the navbar takes full width */
  }

  .custom-nav #navbar-default ul {
    flex-direction: row; /* Stack list items vertically */
    width: 100%; /* Ensure the ul takes full width */
  }

  .custom-nav #navbar-default ul li {
    width: 100%; /* Ensure each li takes full width */
  }

  .custom-nav #navbar-default ul li a {
    width: 100%; /* Ensure links take full width */
    text-align: left; /* Align text to the left */
  }
}